<p>Your image:</p>
<%= image_tag src=@image.image_url %>
<p>Tags:
  <% for tag in @image.tags %>
    <%= link_to tag.name, images_path(tag_filter: tag.name ) %>
  <% end %>
</p>
<%= button_to "Delete this image", image_path(@image), method: :delete, action: "delete" %>
<%= link_to "Back to home", images_path %>